.orders{
    position:absolute;
    top:-20px;
    right: -600px;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: larger;
    border-width: 0px;
    background-color: red;
    color:white;
    border-radius: 30px;

    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
         animation: fadein 2s
}
.orders:hover{
    background-color: rgb(211, 133, 77) ;
    cursor: pointer;
   
}

.sideOrd{
    position: absolute;
    top: -45px;
    right: -1396px;
    min-height: 0px;
    max-height: max-content;
    width: 40vw;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}


.newOrd{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.newOrd2{
    position: absolute;
    top:80px;
    width: 200px;
    font-size: larger;
    font-weight: bold;
}

.noOrd{
    font-size: larger;
    font-weight: bold;
}








@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

